#DS-frame{
	position: relative;
	margin:   10px;
	top:      0;
	left:     0;
	border:   solid 0.25vh;

	border-color: var(--gray);
	transition:   border-color 2s ease-in-out;

	width:  96%;
	height: 96%;

	display:         flex;
	flex-direction:  column;
	algin-items:     top;
/*	justify-content: center;*/

	overflow: hidden;

	font-size:   15pt;
	font-family: monospace;
	line-height: 16pt;

	word-spacing: normal;
	word-break:   normal;
	word-wrap:    normal;

	-moz-tab-size: 4;
	-o-tab-size:   4;
	tab-size:      4;
}

#DS-frame hr {
	border:       0.125vh solid var(--gray);
	width:        96%;
	margin:       10px;
	margin-right: 2%;
	margin-left:  2%;
}

.DS-inout-wrap {
	margin:   0%;
	position: relative;

	width:  100%;
	height: 15%;
	
	display:         flex;
	flex-direction:  row;
	algin-items:     center;
	justify-content: center;
}

.DS-inout-wrap textarea, .DS-inout-wrap pre {
	position: relative;
	margin:  10px;
	padding: 10px;

    height:    calc(100% - 20px);
    flex-grow: 1;
	flex:      1 1 0px;

	resize:      none;
	border:      0.125vh solid var(--gray);
	background:  var(--black);
	color:       var(--white);
	caret-color: var(--white);

	scrollbar-width: thin;
	scrollbar-color: var(--dark_purple) var(--gray);
}

.DS-inout-wrap pre {
	font-size:   16pt;
	line-height: 17pt;
    height:      calc(100% - 42px);

	display:         flex;
	flex-direction:  column;
	algin-items:     center;
	justify-content: center;

	overflow:        hidden;
/*	scrollbar-width: none;*/
}
#DS-counters span {
	display: inline;
}
#DS-canvas {
	margin:    10px;
    flex-grow: 1;
    padding:   0px;
	border:    0.125vh solid var(--gray);
}
@font-face {
	font-family: 'PixelFont';
	src: url('/assets/font.otf') format('opentype');
}

