:root {
	--black:        #282828;
	--light_black:  #928374;
	--dark_black:   #1d2021;

	--red:          #cc241d;
	--light_red:    #fb4934;
	--dark_red:     #9d0006;

	--green:        #98971a;
	--light_green:  #b8bb26;
	--dark_green:   #79740e;

	--yellow:       #d79921;
	--light_yellow: #fabd2f;
	--dark_yellow:  #b57614;

	--blue:         #458588;
	--light_blue:   #83a598;
	--dark_blue:    #076678;

	--purple:       #b16286;
	--light_purple: #d3869b;
	--dark_purple:  #8f3f71;

	--aqua:         #689d6a;
	--light_aqua:   #8ec07c;
	--dark_aqua:    #427b58;

	--gray:         #a89984;
	--light_gray:   #ebdbb2;
	--dark_gray:    #3c3836;

	--orange:       #d65d0e;
	--light_orange: #fe8019;
	--dark_orange:  #af3a03;

	--white:        #fbf1c7;

	--placeholder:  #757575;
}

body {
	font-family:      'Montserrat', sans-serif;
	font-weight:      300;
	font-size:        14px;
	background-color: var(--black);
	color:            #ffffff;
}

.wrapper .left,
.wrapper .right {
	width:           100%;
	height:          47vh;
	position:        relative;
	overflow:        hidden;
	display:         flex;
	align-items:     center;
	justify-content: center;
}


@media screen and (min-width:1200px) {
	.wrapper {
		display: flex;
	}

	.wrapper .left {
		width:  40%;
		height: 95vh;
	
	}
	.wrapper .right {
		width:  60%;
		height: 95vh;
	}
}

.top-bar {
	scrollbar-width: thin;
	scrollbar-color: var(--dark_purple) var(--gray);

	overflow:   auto;
	min-height: 4.5vh;
	max-height: 4.5vh;

	padding-top:    0.5vh;
	padding-bottom: 0vh;
	padding-left:   1vh;
	padding-right:  1vh;
}

.top-bar .top-bar-left {
	float:           left;
	display:         flex;
	flex-wrap:       wrap;
	align-items:     left;
	justify-content: left;
}

#codes_btns{
	display:    inline-block;
	max-width:  max(8vw, calc(100vw - 65vh));
	overflow-y: auto;
	max-height: 4.5vh;

	scrollbar-width: thin;
	scrollbar-color: var(--dark_purple) var(--gray);
}

.top-bar .top-bar-right {
	float:           right;
	display:         flex;
	align-items:     right;
	justify-content: right;
}

.top-bar button {
	margin-bottom: 0vh;
	margin-top:    1vh;
	margin-left:   0.25vh;
	margin-right:  0.25vh;
	height:        3.5vh;
	width:         3.5vh;
	font-size:     2vh;
	padding:       0px;

	display:         inline-block;
	align-items:     center;
	justify-content: center;

	transition-duration: 0.5s;
	background-color:    var(--black);
	border-color:        var(--gray);
	border:              solid 0.25vh;
	color:               var(--gray);
}

.top-bar .blue-btn:hover {
	background-color: var(--blue);
}
.top-bar .orange-btn:hover {
	background-color: var(--orange);
}
.top-bar .green-btn:hover {
	background-color: var(--dark_green);
}
.top-bar .yellow-btn:hover {
	background-color: var(--dark_yellow);
}

.top-bar .icon {
	margin-left: 0.12vh;
	height:      2.5vh;
}

.top-bar .sep {
	margin-bottom: 0vh;
	margin-top:    1vh;
	margin-left:   2.5vh;
	margin-right:  2.5vh;
	padding:       0px;

	width:  0vh;
	height: 3.15vh;
	border: solid 0.16vh;
	color:  var(--gray);
}
